.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

body {
    background: #FEFEFC;
}

.thumbnail .caption-full {
    padding: 9px;
}

#newCampground {
    color: white;
}

#delete-form {
    display: inline;
}